body {
  margin: 0;
}

.navbar-light .navbar-brand, .navbar-light .navbar-text {
  color: white;
}

.header-text{
  text-align: center;
  margin-top: 20px;

}

.calc {
  width: 25%;
  margin: auto;
}

.calc input, select {
  width: 100%;
}

.button-conatiner {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}