<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  <h1 class="header-text">This is the home page</h1>
  <div class="calc">
    <form action="rate">
      <input type="number" name="weight" id="weight" placeholder="Parcel Weight"> <br />
      <select name="packageType" id="packageType">
        <option value="letterStamped">Letters (Stamped)</option>
        <option value="letterMetered">Letters (Metered)</option>
        <option value="largeEnvelopes">Large Envelopes (Flats)</option>
        <option value="firstClass">First-Class Package Service—Retail</option>
        <option value="postcard">Postcard</option>
        <option value="eddm">Every Door Direct Mail (Retail)</option>
      </select>

      <div class="button-conatiner">
        <button type="submit" class="btn btn-info">Info</button>
      </div>
    </form>
  </div>

  <% include ../partials/scripts.ejs %>

</body>

</html>